.link {
  color: var(--link__color);
  text-decoration: none;
  padding-top: 0.2rem;
}

.link:hover {
  color: var(--link__hover__color);
}

.link:visited {
  color: var(--link__visited__color);
}

.link:active {
  color: var(--link__active__color);
}

.link-nostyle {
  color: var(--neutral-color);
}