/**
 * 1. Ensure tables fill up as much space as possible.
 */

table {
  width: 100%; /* [1] */
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  
}

tr:nth-child(odd) {
  background-color: var(--neutral-5);
}

th {
  text-transform: uppercase;
  padding: 0 0 1.3rem 0.75rem;
  text-align: left;
}

td {
  padding: 0 0 1.3rem 0;
}